{
  "name": "{{ name }}",
  "displayName": "{{ display_name }}",
  "version": "{{ version }}",
  "description": "{{ description }}",
  "author": { "name": "{{ owner }}" }{% if owner and repo %},
  "homepage": "https://github.com/{{ owner }}/{{ repo }}",
  "repository": "https://github.com/{{ owner }}/{{ repo }}"{% endif %}
}
