---
name: {{ agent.name }}
description: {{ agent.description }}
{% if agent.tools -%}
tools: {{ agent.tools }}
{% endif -%}
model: {{ agent.model }}
{% if agent.color -%}
color: {{ agent.color }}
{% endif -%}
{% if agent.isolation -%}
isolation: {{ agent.isolation }}
{% endif -%}
{% if agent.max_turns -%}
maxTurns: {{ agent.max_turns }}
{% endif -%}
---
{{ agent.body }}
